.sneakers {
  padding: 40px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    &--loading,
    &--error {
      text-align: center;
      margin-top: 20px;
    }
  }
  &__loading-skeletons {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}
